body {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    overflow: hidden;
    user-select: none;
}

#code{
    position: absolute;
    margin-top: 140px;
    margin-left: 20px;
    width: 200px;
    height: 700px;
}
#menu {
    padding: 5px 10px;
    position: absolute;
    z-index: 200;
}
button {
    min-height: 42px;
    min-width: 32px;
    user-select: none;
}
#apply {
    background-color: green;
    color: whitesmoke;
    border: 0;
}